<h1>Please answer the following questions</h1>
<h4>Your personal information will remain anonymous.</h4>
<br>
<br>

<%= render 'form', polls_user: @polls_user %>

<%= link_to 'Finish', politicians_path %>
