// Place all the styles related to the PollsUsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
	display: none;
}

.yea-button {	

}

.nay-button {
	
}

.yea-highlight {
	background-color: #7FFF00;
}

.nay-highlight {
	background-color: #DC143C;
}